---
layout: default
---

<div class="container">
    <div class="row">
        <div class="col-md-4">
          {% include docs_nav.html %}
        </div>

        <div class="col-md-8">
            <h1>{{ page.title }}</h1>
            <div id="markdown-content-container">{{ content }}</div>
              <br /><br /><br />
              <div class="row">
                <div class="col-sm-6">
                  <p class="text-center">
                  <a target="_blank" href="mailto:{{site.email}}" class="btn btn-default btn-sm githubEditButton" role="button">
                    <i class="fa fa-envelope"></i> Provide Feedback
                  </a>
                </p>
                </div>
                <div class="col-sm-6">
                    <p class="text-center">
                  <a target="_blank" href="{{site.git_edit_address}}/{{ page.path }}" class="btn btn-default btn-sm githubEditButton" role="button">
                    <i class="fa fa-pencil"></i> Improve this page on GitHub
                  </a>
                  </p>
                </div>
              </div>

            </p>
            <hr>
            {% include section_nav.html %}
        </div>

    </div>
</div>
